body{
    background-image: url("../img/img-fundo.jpeg");
    background-size: cover;       
    background-repeat: no-repeat;  
    background-position: center;   
    margin: 0;
    height: 100vh;


    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

header{

    display: flex;
    justify-content: space-between;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 25px;
    
}

input[type="submit"] {
    background-color: #e3e8e9;  /* Cor de fundo verde */
    color: white;                /* Cor do texto */
    padding: 10px 20px;          /* Espaçamento interno */
    border: none;                /* Sem borda */
    border-radius: 5px;          /* Bordas arredondadas */
    font-size: 16px;             /* Tamanho da fonte */
    cursor: pointer;            /* Muda o cursor para pointer */
    margin: 3px 3px;
    
}
#criarConta{
    background-color: #449CE3;  /* Cor de fundo verde */
    color: white;                /* Cor do texto */
    padding: 10px 20px;          /* Espaçamento interno */
    border: none;                /* Sem borda */
    border-radius: 5px;          /* Bordas arredondadas */
    font-size: 16px;             /* Tamanho da fonte */
    cursor: pointer;            /* Muda o cursor para pointer */
    margin: 3px 3px;
    
}

#entrar {
    display: flex;
    text-decoration: none;
    text-align: center;
    background-color: #00CD3A;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    height: 30px;
    align-items: center;
    color: black;
    font-size: small;
   


}

ul{
    
    padding-left: 0px;

}

input[type="email"],
input[type="password"]{
    padding: 10px 20px;          /* Espaçamento interno */
    border: none;                /* Sem borda */
    border-radius: 5px;          /* Bordas arredondadas */
    font-size: 16px;   
    margin: 3px 3px;          /* Tamanho da fonte */
}
h1{
    color:white;
    font-size: 80px;
    width: 150px;
    margin: auto; 
    padding: 5px;
}   
.conteiner{
    width: 300px;
    margin: auto; 
    padding: 80px;
}
form{
    display: flex;
    flex-direction: column;
}
#p{
    color: white;
    width: 30px;
    margin: auto; 
    padding: 5px;
    
}