body{
    background-image: url("../img/img-fundo.jpeg");
    background-size: cover;       
    background-repeat: no-repeat;  
    background-position: center;   
    margin: 0;
    height: 100vh;


    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

header{

    display: flex;
    justify-content: space-between;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 25px;
    
}

input[type="submit"] {
    background-color: #D9D9D9;  /* Cor de fundo verde */
    color: rgb(4, 4, 4);                /* Cor do texto */
    padding: 10px 20px;          /* Espaçamento interno */
    border: none;                /* Sem borda */
    border-radius: 5px;          /* Bordas arredondadas */
    font-size: 16px;             /* Tamanho da fonte */
    cursor: pointer;            /* Muda o cursor para pointer */
    margin: 3px 3px;
    
}
#criarConta{
    background-color: #449CE3;  /* Cor de fundo verde */
    color: rgb(0, 0, 0);                /* Cor do texto */
    border: none;                /* Sem borda */
    border-radius: 3px;          /* Bordas arredondadas */
    font-size: 13px;             /* Tamanho da fonte */
    cursor: pointer;            /* Muda o cursor para pointer */
    margin: 3px 3px;
    font-weight: 550;
   
   
}

.botaocad{
    background-color: #D9D9D9;  /* Cor de fundo verde */
    color: rgb(4, 4, 4);                /* Cor do texto */
    padding: 10px 20px;          /* Espaçamento interno */
    border: none;                /* Sem borda */
    border-radius: 5px;          /* Bordas arredondadas */
    font-size: 13px;     
    font-weight: 550;        /* Tamanho da fonte */
    cursor: pointer;            /* Muda o cursor para pointer */
    margin: 3px 3px;
}


#floglogo img {
    height: 70px;
   padding-bottom: 30px;  
}


#entrar {
    display: flex;
    text-decoration: none;
    text-align: center;
    background-color: #00CD3A;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    height: 30px;
    align-items: center;
    color: black;
    font-size: small;
   


}

ul{
    
    padding-left: 0px;

}

input[type="submit"],
input[type="email"],
input[type="password"]{

    
    outline: none;
    padding: 10px 20px;          /* Espaçamento interno */
    border: none;   
    font-weight: 550;             /* Sem borda */
    border-radius: 5px;          /* Bordas arredondadas */
    font-size: 13px;  
    margin: 3px 3px;   
       /* Tamanho da fonte */
    
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: gray; /* Altere para a cor desejada */
    opacity: 0.5; /* Ajuste a transparência (0.1 a 1) */
}


.linhas {
    
    display: flex;
    align-items: center;
    text-align: center;
}

.linhas hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #ffffff; /* Cor da linha */
    margin: 0 7px;
}

.linhas span {
    padding-top: 5px;
    font-size: 13px;
    color: white;
    padding-bottom: 5px;
}

h1{
    color:white;
    font-size: 80px;
    width: 150px;
    margin: auto; 
    padding: 5px;
}   
.conteiner{
    width: 300px;
    margin: auto; 
    padding: 80px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    


}

p{
    text-align: center;
    color: white;
    font-size: 13px;
    
}



.botaocad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.botaocad img{

    height: 20px;
    

}

.bussola {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bussola img{
    width: 20px;
}


.pesquisabarra{
    height: 100%;
    display: flex;
    background-color: #3D3D3D;
    border-radius: 20px;
    opacity: 0.80;
}

.pesquisabarra img {
    height: 20px;
    align-self: center;
    padding-left: 12px;
    
}

.pesquisa::placeholder {
    font-weight: bold; 
}


.pesquisa {
    
    outline: none;
    text-align: center;
    border-style: none;
    text-align: start;
    
    background-color: #3D3D3D ;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    height: 30px;
    width: 200px;
    align-items: center;
    color: #FFFFFF;
    font-size: small;
   
}
